# Игнорировать большие ассеты
sprites/*.zip
sprites/Medieval/
sprites/PlatformerComplete/
sprites/city_tileset/
sprites/Horizontal-2D-BG-PNG/
sprites/parallax-*/

# Игнорировать скомпилированные бинарники в подпапках
castle_defender/*.exe
castle_defender/assets/
go_mario/*.exe
go_mario/assets/
go_legends/*.exe
go_legends/assets/
go_legends/go.sum
space_empire/*.exe
space_empire/assets/
space_empire/go.sum

# Qwen
.qwen/
